<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpicyX | Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../Content/assets/img/favicon.ico" type="image/x-icon">

</head>
<body>

<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
    <span>Top</span>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start header section -->
<header id="mu-header">
    <nav class="navbar navbar-default mu-main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!--  Image based logo  -->
                <a class="navbar-brand" href="index.html" id="logoHotel">
                    <img src="../../../Content/assets/img/logoHotelRestaut.png" alt="Logo img">
                </a>
                <div class="mu-subtitle loggedIn-user" *ngIf="LoggedIn ">Hi  {{utilisateur.Nom}} {{utilisateur.Prenom}}</div>

            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
                    <li><a [routerLink]="['Accueil']">HOME</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">Hotel<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a [routerLink]="['Hotels']"> Search Restaurant</a></li>
                            <li><a [routerLink]="['CreerHotel']" *ngIf="LoggedIn && utilisateur.Role ==='Admin'">Create Hotel</a></li>
                            <li><a [routerLink]="['Gallery']">GALLERY</a></li>
                            <li><a [routerLink]="['videoHotel']">Video</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">Restaurant<span
                                class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a [routerLink]="['CreerRestaurant']" *ngIf="LoggedIn && utilisateur.Role ==='Admin'">Create Restaurant</a></li>
                            <li><a [routerLink]="['Restaurants']"> Search Restaurant</a></li>
                            <li><a [routerLink]="['Gallery']">GALLERY</a></li>
                            <li><a [routerLink]="['videoHotel']">Video</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['Login']">login</a></li>
                    <li><a [routerLink]="['CreerUtilisateur']">Subscribe</a></li>
                    <li><a [routerLink]="['Contact']">CONTACT</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
<!-- End header section -->

<section id="mu-slider">
    <div class="mu-slider-area">

        <div class="mu-top-slider">

            <router-outlet>

            </router-outlet>
            </div>
        </div>
    </section>

<!-- Start Footer -->
<footer id="mu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-footer-area">
                    <div class="mu-footer-social">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-youtube"></span></a>
                    </div>
                    <div class="mu-footer-copyright">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

</body>
</html>

